In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Data getting, cleaning, and exploring
import wrangle as w
import evaluate as ev
import explore as ex

# Python without these is hard
import pandas as pd
import numpy as np
from pydataset import data
from scipy import stats

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import sklearn.preprocessing
from sklearn.preprocessing import MinMaxScaler 
from sklearn.impute import SimpleImputer
# Regression Modeling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# w.get_zillow_data(cached=False)

In [3]:
df = w.wrangle_zillow()

In [4]:
# df.shape

In [5]:
# df.parcelid.nunique()

In [6]:
# df = df[df.latitude.notnull()]

In [7]:
# df = df[df.longitude.notnull()]

In [8]:
ex.missing_zero_values_table(df)

Your selected dataframe has 21 columns and 71525 Rows.
There are 0 columns that have NULL values.

,Zero Values,NULL Values,% of Total NULL Values,Total Zero's plus NULL Values,% Total Zero's plus NULL Values,Data Type
parcelid,0,0,0.0,0,0.0,int64
region_id_county,0,0,0.0,0,0.0,float64
log_error,0,0,0.0,0,0.0,float64
tax_amount,0,0,0.0,0,0.0,float64
land_tax_value,0,0,0.0,0,0.0,float64
assessment_year,0,0,0.0,0,0.0,float64
tax_value,0,0,0.0,0,0.0,float64
struct_tax_value,0,0,0.0,0,0.0,float64
year_built,0,0,0.0,0,0.0,float64
unitcnt,0,0,0.0,0,0.0,float64
census_tract_and_block,0,0,0.0,0,0.0,float64
bathrooms,0,0,0.0,0,0.0,float64
prop_land_type_id,0,0,0.0,0,0.0,int64
prop_cnty_land_code,0,0,0.0,0,0.0,object
lot_sqft,0,0,0.0,0,0.0,float64
longitude,0,0,0.0,0,0.0,float64
latitude,0,0,0.0,0,0.0,float64
fips,0,0,0.0,0,0.0,int64
property_sqft,0,0,0.0,0,0.0,float64
bedrooms,0,0,0.0,0,0.0,float64
transaction_date,0,0,0.0,0,0.0,object

In [9]:
# missing_cols_df = pd.Series(data=df.isnull().sum(axis = 1).value_counts().sort_index(ascending=False))

In [10]:
# missing_cols_df = pd.DataFrame(missing_cols_df)

In [11]:
# missing_cols_df = missing_cols_df.reset_index()

In [12]:
# missing_cols_df.columns = ['total_missing_cols','num_rows']

In [13]:
# missing_cols_df['percent_cols_missing'] = round(100 * missing_cols_df.total_missing_cols / df.shape[1], 2)

In [14]:
# missing_cols_df.head()

In [15]:
# ex.missing_columns(df)

In [16]:
# df.propertylandusetypeid.value_counts().sort_index()

### propertylandusetypeid code meanings:
- <span style="color:red">red</span>: means that there are properties of this type in dataframe and are not "single unit properties"
- <span style="color:green">green</span>: are properties that are accepted as "single unit properties"
- ~~strikeout~~: are property types that are not included in the dataframe

    - <span style="color:red">31	Commercial/Office/Residential Mixed Used</span>
    - ~~46	Multi-Story Store~~
    - ~~47	Store/Office (Mixed Use)~~
    - <span style="color:red">246	Duplex (2 Units, Any Combination)</span>
    - <span style="color:red">247	Triplex (3 Units, Any Combination)</span>
    - <span style="color:red">248	Quadruplex (4 Units, Any Combination)</span>
    - <span style="color:green">260	Residential General</span>
    - <span style="color:green">261	Single Family Residential</span>
    - ~~<span style="color:green">262	Rural Residence</span>~~
    - <span style="color:green">263	Mobile Home</span>
    - <span style="color:green">264	Townhouse</span>
    - <span style="color:green">265	Cluster Home</span>
    - <span style="color:green">266	Condominium</span>
    - <span style="color:green">267	Cooperative</span>
    - ~~<span style="color:green">268	Row House</span>~~
    - <span style="color:red">269	Planned Unit Development</span>
    - ~~270	Residential Common Area~~
    - ~~271	Timeshare~~
    - ~~<span style="color:green">273	Bungalow</span>~~
    - ~~274	Zero Lot Line~~
    - <span style="color:green">275	Manufactured, Modular, Prefabricated Homes</span>
    - ~~<span style="color:green">276	Patio Home</span>~~
    - ~~<span style="color:green">279	Inferred Single Family Residential</span>~~
    - ~~290	Vacant Land - General~~
    - ~~291	Residential Vacant Land~~

In [17]:
# df.propertylandusetypeid = df.propertylandusetypeid.astype(int)

In [18]:
# # gave 'propertylandusetypeid' to variable x for ease, dropping propertylandusetypeid's that are not single unit properties
# x='propertylandusetypeid'
# df = df[df[x] != 31]
# df = df[df[x] != 246]
# df = df[df[x] != 247]
# df = df[df[x] != 248]
# df = df[df[x] != 269]

In [19]:
# df.shape[0]

In [20]:
# df.propertylandusetypeid.value_counts().sort_index()

In [21]:
# df.unitcnt.value_counts()

In [22]:
# df.unitcnt.isnull().sum()

In [23]:
# fill unitcnt with 1 because these properties should be single unit properties

# df.unitcnt.fillna(1, inplace=True)

In [24]:
# df.unitcnt.isnull().sum()

In [25]:
# df.unitcnt.value_counts()

In [26]:
# drop any property listed less than or greater than 1 

# df = df[df.unitcnt == 1]

In [27]:
# df.unitcnt.value_counts()

In [28]:
# df.shape

In [29]:
# df = w.handle_missing_values(df, 0.6, 0.75)
# df.shape

In [30]:
# df.isnull().sum().sort_values(ascending=False)

In [31]:
# dropcols = ['id','heatingorsystemtypeid','buildingqualitytypeid','propertyzoningdesc','heatingorsystemdesc','calculatedbathnbr','regionidzip','regionidcity']

In [32]:
# df = df.drop(columns=dropcols)

In [33]:
# df[df.taxamount.isnull()]

In [34]:
# df[df.taxvaluedollarcnt.isnull()]

In [35]:
# df = df[df.taxvaluedollarcnt.notnull()]

In [36]:
# df.isnull().sum().sort_values(ascending=False)

In [37]:
# df.structuretaxvaluedollarcnt.mean()

In [38]:
# df.landtaxvaluedollarcnt.mean()

In [39]:
# df.taxvaluedollarcnt.mean()

In [40]:
# df.structuretaxvaluedollarcnt.mean() / df.landtaxvaluedollarcnt.mean()

In [41]:
# df[df.structuretaxvaluedollarcnt.isnull()]

### taxvaluedollarcnt = structuretaxvaluedollarcnt + landtaxvaluedollarcnt...  
- dropping values b/c
    - target feature if taxvaluedollarcnt and these values influence the target. 83 structure nulls
    - taxamount will be dropped as well. 5 taxamount nulls
    - so few values I am comfortable dropping

In [42]:
# df = df[df.structuretaxvaluedollarcnt.notnull()]
# df.shape

In [43]:
# df = df[df.taxamount.notnull()]
# df.shape

In [44]:
# df.yearbuilt.describe()

In [45]:
# knn b/c close neighborhoods go up at similar dates
# will use yearbuilt, lat, long, fips
# df.fips = df.fips.astype(int)
# df.fips.dtype

In [46]:
# df.isnull().sum()

In [47]:
# from sklearn.impute import KNNImputer

# #Use numeric columns that you want to use for imputation
# knn_cols_df = df[['yearbuilt','latitude','longitude','fips']]
# features = ['yearbuilt','latitude','longitude','fips']
# # define the thing
# imputer = KNNImputer(n_neighbors=4)

# # fit the thing (or fit and use with fit_transform) only on train!
# imputed = imputer.fit_transform(knn_cols_df)
# imputed

In [48]:
# imputed = pd.DataFrame(imputed, index = df.index, dtype=int)
# imputed.head()

In [49]:
# df['yearbuilt'] = imputed[[0]]

In [50]:
# df = w.impute_knn(df, features, 4)

In [51]:
# df.isnull().sum()

In [52]:
# df.lotsizesquarefeet.describe()

In [53]:
# #Use numeric columns that you want to use for imputation
# knn_cols_df = df[['lotsizesquarefeet','latitude','longitude','fips','calculatedfinishedsquarefeet']]
# features = ['lotsizesquarefeet','latitude','longitude','fips','calculatedfinishedsquarefeet']
# # define the thing
# imputer = KNNImputer(n_neighbors=4)

# # fit the thing (or fit and use with fit_transform) only on train!
# imputed = imputer.fit_transform(knn_cols_df)
# imputed

In [54]:
# imputed = pd.DataFrame(imputed, index = df.index, dtype=int)
# imputed.head()

In [55]:
# df['lotsizesquarefeet'] = imputed[[0]]

In [56]:
# df = w.impute_knn(df, features, 4)

In [57]:
# df = df[df.calculatedfinishedsquarefeet.notnull()]

In [58]:
# df.isnull().sum()

In [59]:
# dropcols = ['finishedsquarefeet12','fullbathcnt','censustractandblock','roomcnt']

In [60]:
# df = df.drop(columns=dropcols)

In [61]:
# df = df[df.bedroomcnt != 0]
# df = df[df.bathroomcnt != 0]

In [62]:
# ex.missing_zero_values_table(df)

In [63]:
list(df.columns)

['parcelid',
 'bathrooms',
 'bedrooms',
 'property_sqft',
 'fips',
 'latitude',
 'longitude',
 'lot_sqft',
 'prop_cnty_land_code',
 'prop_land_type_id',
 'census_tract_and_block',
 'region_id_county',
 'unitcnt',
 'year_built',
 'struct_tax_value',
 'tax_value',
 'assessment_year',
 'land_tax_value',
 'tax_amount',
 'log_error',
 'transaction_date']

In [64]:
# df.columns = ['parcelid', 'bathrooms', 'bedrooms', 'property_sqft', 'fips', 'latitude', 'longitude', 'lot_sqft', 'prop_cnty_land_code', 'prop_land_type_id', 'census_tract_and_block', 'region_id_county', 'unitcnt', 'year_built', 'struct_tax_value', 'tax_value', 'assessment_year', 'land_tax_value', 'tax_amount', 'log_error', 'transaction_date']

# Mall Customers database

In [65]:
# df = w.get_mall_data(cached=True)

In [66]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,71525.0,1.305067e+07,3.100469e+06,1.071186e+07,1.153776e+07,1.259015e+07,1.427129e+07,1.676560e+08
bathrooms,71525.0,2.270654e+00,9.418737e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.300000e+01
bedrooms,71525.0,3.016777e+00,1.003892e+00,1.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.100000e+01
property_sqft,71525.0,1.751998e+03,9.277881e+02,1.520000e+02,1.166000e+03,1.512000e+03,2.064000e+03,2.192900e+04
fips,71525.0,6.049542e+03,2.114287e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
latitude,71525.0,3.400564e+07,2.696072e+05,3.333953e+07,3.380540e+07,3.401872e+07,3.417765e+07,3.481877e+07
longitude,71525.0,-1.181987e+08,3.654758e+05,-1.194754e+08,-1.184180e+08,-1.181683e+08,-1.179156e+08,-1.175546e+08
lot_sqft,71525.0,2.849199e+04,1.202060e+05,2.360000e+02,5.542000e+03,7.150000e+03,1.132100e+04,6.971010e+06
prop_land_type_id,71525.0,2.623575e+02,2.232803e+00,2.600000e+02,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
census_tract_and_block,71525.0,6.049842e+07,2.098451e+05,6.037101e+07,6.037400e+07,6.037621e+07,6.059052e+07,6.111009e+07
region_id_county,71525.0,2.498564e+03,8.134596e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
unitcnt,71525.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
year_built,71525.0,1.969361e+03,2.304227e+01,1.878000e+03,1.954000e+03,1.970000e+03,1.987000e+03,2.016000e+03
struct_tax_value,71525.0,1.877392e+05,2.265514e+05,4.400000e+01,8.358300e+04,1.348870e+05,2.160000e+05,9.164901e+06
tax_value,71525.0,4.871847e+05,6.291532e+05,3.254000e+03,2.047930e+05,3.562190e+05,5.665040e+05,2.538125e+07
assessment_year,71525.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
land_tax_value,71525.0,2.994455e+05,4.578541e+05,1.610000e+02,8.361900e+04,2.033950e+05,3.670350e+05,2.233550e+07
tax_amount,71525.0,5.937749e+03,7.308829e+03,1.992000e+01,2.682820e+03,4.400180e+03,6.842060e+03,2.909981e+05
log_error,71525.0,1.710914e-02,1.663727e-01,-4.655420e+00,-2.340530e-02,6.755454e-03,3.854178e-02,5.262999e+00

In [67]:
df.isnull().sum()

parcelid                  0
bathrooms                 0
bedrooms                  0
property_sqft             0
fips                      0
latitude                  0
longitude                 0
lot_sqft                  0
prop_cnty_land_code       0
prop_land_type_id         0
census_tract_and_block    0
region_id_county          0
unitcnt                   0
year_built                0
struct_tax_value          0
tax_value                 0
assessment_year           0
land_tax_value            0
tax_amount                0
log_error                 0
transaction_date          0
dtype: int64

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71525 entries, 0 to 77407
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   parcelid                71525 non-null  int64
 1   bathrooms               71525 non-null  float64
 2   bedrooms                71525 non-null  float64
 3   property_sqft           71525 non-null  float64
 4   fips                    71525 non-null  int64
 5   latitude                71525 non-null  float64
 6   longitude               71525 non-null  float64
 7   lot_sqft                71525 non-null  float64
 8   prop_cnty_land_code     71525 non-null  object
 9   prop_land_type_id       71525 non-null  int64
 10  census_tract_and_block  71525 non-null  float64
 11  region_id_county        71525 non-null  float64
 12  unitcnt                 71525 non-null  float64
 13  year_built              71525 non-null  float64
 14  struct_tax_value        71525 non-null  float64
 15  tax_value               71525 non-null  float64
 16  assessment_year         71525 non-null  float64
 17  land_tax_value          71525 non-null  float64
 18  tax_amount              71525 non-null  float64
 19  log_error               71525 non-null  float64
 20  transaction_date        71525 non-null  object
dtypes: float64(16), int64(3), object(2)
memory usage: 12.0+ MB

In [69]:
# df = w.remove_outliers(df, 'annual_income', 1.5)

In [70]:
# df = pd.get_dummies(df, columns=['gender'], drop_first=True)

In [71]:
# df.head()

In [72]:
# train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test = w.train_validate_test_split(df, 'annual_income', 42)

In [73]:
# object_cols = w.get_object_cols(X_train)
# numeric_cols = w.get_numeric_X_cols(X_train, object_cols)

In [74]:
# X_train_scaled, X_validate_scaled, X_test_scaled = w.min_max_scale(X_train, X_validate, X_test, numeric_cols)

In [75]:
train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test, X_train_scaled, X_validate_scaled, X_test_scaled = w.wrangle_mall()