In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Data getting, cleaning, and exploring
import wrangle as w
import evaluate as ev
import explore as ex

# Python without these is hard
import pandas as pd
import numpy as np
from pydataset import data
from scipy import stats

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import sklearn.preprocessing
from sklearn.preprocessing import MinMaxScaler 
from sklearn.impute import SimpleImputer
# Regression Modeling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# w.get_zillow_data(cached=False)

In [3]:
df = w.wrangle_zillow()

In [4]:
df.shape

(77413, 67)

In [5]:
df.parcelid.nunique()

77413

In [6]:
df = df[df.latitude.notnull()]

In [7]:
df = df[df.longitude.notnull()]

In [8]:
ex.missing_zero_values_table(df)

Your selected dataframe has 67 columns and 77380 Rows.
There are 52 columns that have NULL values.

,Zero Values,NULL Values,% of Total NULL Values,Total Zero's plus NULL Values,% Total Zero's plus NULL Values,Data Type
buildingclasstypeid,0,77365,100.0,77365,100.0,float64
buildingclassdesc,0,77365,100.0,77365,100.0,object
finishedsquarefeet13,0,77339,99.9,77339,99.9,float64
storydesc,0,77330,99.9,77330,99.9,object
basementsqft,0,77330,99.9,77330,99.9,float64
storytypeid,0,77330,99.9,77330,99.9,float64
yardbuildingsqft26,0,77310,99.9,77310,99.9,float64
fireplaceflag,0,77208,99.8,77208,99.8,float64
architecturalstyletypeid,0,77174,99.7,77174,99.7,float64
architecturalstyledesc,0,77174,99.7,77174,99.7,object
typeconstructiontypeid,0,77158,99.7,77158,99.7,float64
typeconstructiondesc,0,77158,99.7,77158,99.7,object
finishedsquarefeet6,0,76994,99.5,76994,99.5,float64
pooltypeid10,0,76916,99.4,76916,99.4,float64
decktypeid,0,76766,99.2,76766,99.2,float64
poolsizesum,0,76513,98.9,76513,98.9,float64
pooltypeid2,0,76306,98.6,76306,98.6,float64
hashottuborspa,0,75842,98.0,75842,98.0,float64
yardbuildingsqft17,0,74992,96.9,74992,96.9,float64
taxdelinquencyyear,0,74494,96.3,74494,96.3,float64
taxdelinquencyflag,0,74494,96.3,74494,96.3,object
finishedsquarefeet15,0,74371,96.1,74371,96.1,float64
finishedfloor1squarefeet,0,71357,92.2,71357,92.2,float64
finishedsquarefeet50,0,71357,92.2,71357,92.2,float64
fireplacecnt,0,69104,89.3,69104,89.3,float64
threequarterbathnbr,0,67284,87.0,67284,87.0,float64
pooltypeid7,0,62338,80.6,62338,80.6,float64
poolcnt,0,61243,79.1,61243,79.1,float64
numberofstories,0,59820,77.3,59820,77.3,float64
airconditioningdesc,0,52427,67.8,52427,67.8,object
airconditioningtypeid,0,52427,67.8,52427,67.8,float64
garagetotalsqft,7685,51906,67.1,59591,77.0,float64
garagecarcnt,230,51906,67.1,52136,67.4,float64
regionidneighborhood,0,46490,60.1,46490,60.1,float64
heatingorsystemtypeid,0,27941,36.1,27941,36.1,float64
heatingorsystemdesc,0,27941,36.1,27941,36.1,object
buildingqualitytypeid,0,27709,35.8,27709,35.8,float64
propertyzoningdesc,0,27050,35.0,27050,35.0,object
unitcnt,0,26818,34.7,26818,34.7,float64
lotsizesquarefeet,0,8239,10.6,8239,10.6,float64
finishedsquarefeet12,0,3632,4.7,3632,4.7,float64
regionidcity,0,1471,1.9,1471,1.9,float64
calculatedbathnbr,0,609,0.8,609,0.8,float64
fullbathcnt,0,609,0.8,609,0.8,float64
yearbuilt,0,263,0.3,263,0.3,float64
censustractandblock,0,244,0.3,244,0.3,float64
calculatedfinishedsquarefeet,0,196,0.3,196,0.3,float64
structuretaxvaluedollarcnt,0,112,0.1,112,0.1,float64
regionidzip,0,50,0.1,50,0.1,float64
taxamount,0,5,0.0,5,0.0,float64
landtaxvaluedollarcnt,0,2,0.0,2,0.0,float64
taxvaluedollarcnt,0,1,0.0,1,0.0,float64
logerror,0,0,0.0,0,0.0,float64
regionidcounty,0,0,0.0,0,0.0,float64
fips,0,0,0.0,0,0.0,float64
rawcensustractandblock,0,0,0.0,0,0.0,float64
parcelid,0,0,0.0,0,0.0,int64
latitude,0,0,0.0,0,0.0,float64
transactiondate,0,0,0.0,0,0.0,object
propertycountylandusecode,0,0,0.0,0,0.0,object
id,0,0,0.0,0,0.0,int64
longitude,0,0,0.0,0,0.0,float64
bedroomcnt,830,0,0.0,830,1.1,float64
roomcnt,59807,0,0.0,59807,77.3,float64
assessmentyear,0,0,0.0,0,0.0,float64
bathroomcnt,592,0,0.0,592,0.8,float64
propertylandusetypeid,0,0,0.0,0,0.0,float64

In [9]:
# missing_cols_df = pd.Series(data=df.isnull().sum(axis = 1).value_counts().sort_index(ascending=False))

In [10]:
# missing_cols_df = pd.DataFrame(missing_cols_df)

In [11]:
# missing_cols_df = missing_cols_df.reset_index()

In [12]:
# missing_cols_df.columns = ['total_missing_cols','num_rows']

In [13]:
# missing_cols_df['percent_cols_missing'] = round(100 * missing_cols_df.total_missing_cols / df.shape[1], 2)

In [14]:
# missing_cols_df.head()

In [15]:
ex.missing_columns(df)

    total_missing_cols  num_rows  percent_cols_missing  percent_rows_affected
0                   48         3                 71.64                   0.00
1                   47         3                 70.15                   0.00
2                   46         5                 68.66                   0.01
3                   45        50                 67.16                   0.06
4                   44        78                 65.67                   0.10
5                   43        28                 64.18                   0.04
6                   42        23                 62.69                   0.03
7                   41        29                 61.19                   0.04
8                   40       230                 59.70                   0.30
9                   39       285                 58.21                   0.37
10                  38      1925                 56.72                   2.49
11                  37      3620                 55.22                   4.68
12                  36      5775                 53.73                   7.46
13                  35      5148                 52.24                   6.65
14                  34     13326                 50.75                  17.22
15                  33     14782                 49.25                  19.10
16                  32     12579                 47.76                  16.26
17                  31      9891                 46.27                  12.78
18                  30      3455                 44.78                   4.46
19                  29      5270                 43.28                   6.81
20                  28       455                 41.79                   0.59
21                  27       316                 40.30                   0.41
22                  26        65                 38.81                   0.08
23                  25        24                 37.31                   0.03
24                  24        13                 35.82                   0.02
25                  23         2                 34.33                   0.00

In [16]:
df.propertylandusetypeid.value_counts().sort_index()

31.0        15
246.0     2009
247.0      535
248.0      727
260.0       37
261.0    52319
263.0       74
264.0        6
265.0      333
266.0    19294
267.0       29
269.0     1944
275.0       58
Name: propertylandusetypeid, dtype: int64

### propertylandusetypeid code meanings:
- <span style="color:red">red</span>: means that there are properties of this type in dataframe and are not "single unit properties"
- <span style="color:green">green</span>: are properties that are accepted as "single unit properties"
- ~~strikeout~~: are property types that are not included in the dataframe

    - <span style="color:red">31	Commercial/Office/Residential Mixed Used</span>
    - ~~46	Multi-Story Store~~
    - ~~47	Store/Office (Mixed Use)~~
    - <span style="color:red">246	Duplex (2 Units, Any Combination)</span>
    - <span style="color:red">247	Triplex (3 Units, Any Combination)</span>
    - <span style="color:red">248	Quadruplex (4 Units, Any Combination)</span>
    - <span style="color:green">260	Residential General</span>
    - <span style="color:green">261	Single Family Residential</span>
    - ~~<span style="color:green">262	Rural Residence</span>~~
    - <span style="color:green">263	Mobile Home</span>
    - <span style="color:green">264	Townhouse</span>
    - <span style="color:green">265	Cluster Home</span>
    - <span style="color:green">266	Condominium</span>
    - <span style="color:green">267	Cooperative</span>
    - ~~<span style="color:green">268	Row House</span>~~
    - <span style="color:red">269	Planned Unit Development</span>
    - ~~270	Residential Common Area~~
    - ~~271	Timeshare~~
    - ~~<span style="color:green">273	Bungalow</span>~~
    - ~~274	Zero Lot Line~~
    - <span style="color:green">275	Manufactured, Modular, Prefabricated Homes</span>
    - ~~<span style="color:green">276	Patio Home</span>~~
    - ~~<span style="color:green">279	Inferred Single Family Residential</span>~~
    - ~~290	Vacant Land - General~~
    - ~~291	Residential Vacant Land~~

In [17]:
df.propertylandusetypeid = df.propertylandusetypeid.astype(int)

In [18]:
# gave 'propertylandusetypeid' to variable x for ease, dropping propertylandusetypeid's that are not single unit properties
x='propertylandusetypeid'
df = df[df[x] != 31]
df = df[df[x] != 246]
df = df[df[x] != 247]
df = df[df[x] != 248]
df = df[df[x] != 269]

In [19]:
df.shape[0]

72150

In [20]:
df.propertylandusetypeid.value_counts().sort_index()

260       37
261    52319
263       74
264        6
265      333
266    19294
267       29
275       58
Name: propertylandusetypeid, dtype: int64

In [21]:
df.unitcnt.value_counts()

1.0    45325
2.0       33
3.0        3
4.0        2
6.0        1
Name: unitcnt, dtype: int64

In [22]:
df.unitcnt.isnull().sum()

26786

In [23]:
# fill unitcnt with 1 because these properties should be single unit properties

df.unitcnt.fillna(1, inplace=True)

In [24]:
df.unitcnt.isnull().sum()

0

In [25]:
df.unitcnt.value_counts()

1.0    72111
2.0       33
3.0        3
4.0        2
6.0        1
Name: unitcnt, dtype: int64

In [26]:
# drop any property listed less than or greater than 1 

df = df[df.unitcnt == 1]

In [27]:
df.unitcnt.value_counts()

1.0    72111
Name: unitcnt, dtype: int64

In [28]:
df.shape

(72111, 67)

In [29]:
df = w.handle_missing_values(df, 0.6, 0.75)
df.shape

(71961, 33)

In [30]:
df.isnull().sum().sort_values(ascending=False)

buildingqualitytypeid           27005
propertyzoningdesc              26597
heatingorsystemdesc             25386
heatingorsystemtypeid           25386
lotsizesquarefeet                8063
regionidcity                     1325
finishedsquarefeet12              255
censustractandblock               208
calculatedbathnbr                 119
fullbathcnt                       119
structuretaxvaluedollarcnt         84
yearbuilt                          72
regionidzip                        41
calculatedfinishedsquarefeet       38
taxamount                           5
taxvaluedollarcnt                   1
landtaxvaluedollarcnt               1
fips                                0
parcelid                            0
id                                  0
bathroomcnt                         0
bedroomcnt                          0
logerror                            0
longitude                           0
latitude                            0
assessmentyear                      0
propertylandusetypeid               0
transactiondate                     0
rawcensustractandblock              0
regionidcounty                      0
roomcnt                             0
unitcnt                             0
propertycountylandusecode           0
dtype: int64

In [31]:
dropcols = ['id','heatingorsystemtypeid','buildingqualitytypeid','propertyzoningdesc','heatingorsystemdesc','calculatedbathnbr','regionidzip']

In [32]:
df = df.drop(columns=dropcols)

In [33]:
df[df.taxamount.isnull()]

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate
18141,11487838,1.0,3.0,1239.0,1239.0,6037.0,1.0,33874473.0,-118364035.0,6760.0,...,1.0,1953.0,188633.0,943166.0,2016.0,754533.0,NaN,6.037621e+13,0.689382,2017-04-13
21904,11647249,3.0,4.0,2924.0,2924.0,6037.0,3.0,34070466.0,-118462732.0,NaN,...,1.0,1954.0,NaN,461231.0,2016.0,461231.0,NaN,6.037265e+13,0.038192,2017-02-24
22379,11666665,3.0,4.0,2587.0,2587.0,6037.0,3.0,34048939.0,-118544920.0,9775.0,...,1.0,1954.0,448740.0,2030499.0,2016.0,1581759.0,NaN,6.037263e+13,-0.043649,2017-01-25
46894,12920381,2.0,3.0,944.0,944.0,6037.0,2.0,34099255.0,-117891371.0,7489.0,...,1.0,1930.0,75000.0,352000.0,2016.0,277000.0,NaN,6.037406e+13,-0.121397,2017-05-24
66936,14646889,2.0,2.0,1030.0,1030.0,6059.0,2.0,33613180.0,-117743363.0,NaN,...,1.0,1974.0,29646.0,50450.0,2016.0,20804.0,NaN,6.059063e+13,-0.013861,2017-03-14

In [34]:
df[df.taxvaluedollarcnt.isnull()]

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate
53834,14006983,2.0,4.0,1197.0,1197.0,6059.0,2.0,33792921.0,-117982046.0,7210.0,...,1.0,1954.0,NaN,NaN,2016.0,NaN,388.18,6.059088e+13,-0.03679,2017-07-31

In [35]:
df = df[df.taxvaluedollarcnt.notnull()]

In [36]:
df.isnull().sum().sort_values(ascending=False)

lotsizesquarefeet               8063
regionidcity                    1325
finishedsquarefeet12             255
censustractandblock              208
fullbathcnt                      119
structuretaxvaluedollarcnt        83
yearbuilt                         72
calculatedfinishedsquarefeet      38
taxamount                          5
transactiondate                    0
bathroomcnt                        0
bedroomcnt                         0
fips                               0
latitude                           0
longitude                          0
rawcensustractandblock             0
propertycountylandusecode          0
propertylandusetypeid              0
logerror                           0
regionidcounty                     0
roomcnt                            0
unitcnt                            0
taxvaluedollarcnt                  0
assessmentyear                     0
landtaxvaluedollarcnt              0
parcelid                           0
dtype: int64

In [37]:
df.structuretaxvaluedollarcnt.mean()

188021.7823643168

In [38]:
df.landtaxvaluedollarcnt.mean()

300497.03546414676

In [39]:
df.taxvaluedollarcnt.mean()

488301.9500138966

In [40]:
df.structuretaxvaluedollarcnt.mean() / df.landtaxvaluedollarcnt.mean()

0.6257026199073776

In [41]:
df[df.structuretaxvaluedollarcnt.isnull()]

,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate
3176,10832280,2.0,3.0,1584.0,1584.0,6037.0,2.0,34198552.0,-118485273.0,7398.0,...,1.0,1949.0,NaN,424568.0,2016.0,424568.0,5218.08,6.037980e+13,-0.255910,2017-06-20
3188,10832664,1.0,3.0,1004.0,1004.0,6037.0,1.0,34194872.0,-118493075.0,16920.0,...,1.0,1947.0,NaN,772605.0,2016.0,772605.0,9500.47,6.037132e+13,0.041922,2017-02-26
3255,10835479,1.0,2.0,869.0,869.0,6037.0,1.0,34193351.0,-118510184.0,29999.0,...,1.0,1940.0,NaN,573616.0,2016.0,573616.0,7153.27,6.037132e+13,-0.099181,2017-04-28
3256,10835480,1.0,2.0,1036.0,1036.0,6037.0,1.0,34193351.0,-118510515.0,29998.0,...,1.0,1940.0,NaN,573616.0,2016.0,573616.0,7160.35,6.037132e+13,0.076464,2017-09-01
4356,10869709,3.0,4.0,2990.0,2990.0,6037.0,3.0,34147994.0,-118494065.0,15855.0,...,1.0,1955.0,NaN,1475000.0,2016.0,1475000.0,17779.58,6.037140e+13,0.865946,2017-01-11
4363,10869828,4.0,3.0,2598.0,2598.0,6037.0,4.0,34144243.0,-118499780.0,28827.0,...,1.0,1955.0,NaN,1752321.0,2016.0,1752321.0,21102.96,6.037140e+13,-0.134120,2017-02-28
4366,10869942,3.0,3.0,2175.0,2175.0,6037.0,3.0,34144564.0,-118489879.0,15675.0,...,1.0,1956.0,NaN,1255864.0,2016.0,1255864.0,15167.88,6.037140e+13,-0.082329,2017-06-21
5536,10918175,3.0,4.0,2692.0,2692.0,6037.0,3.0,34144212.0,-118420751.0,24990.0,...,1.0,1940.0,NaN,3152351.0,2016.0,3152351.0,37852.36,6.037144e+13,-0.005895,2017-04-14
10675,11137835,4.0,3.0,3284.0,3284.0,6037.0,4.0,34363313.0,-118542860.0,55926.0,...,1.0,1985.0,NaN,1000.0,2016.0,1000.0,816.49,6.037920e+13,-0.102919,2017-07-28
18220,11490443,2.0,4.0,1416.0,1416.0,6037.0,2.0,33868264.0,-118379258.0,7505.0,...,1.0,1952.0,NaN,704163.0,2016.0,704163.0,14515.36,6.037621e+13,-0.053075,2017-02-17
18451,11499034,1.0,2.0,842.0,842.0,6037.0,1.0,33892525.0,-118388763.0,7443.0,...,1.0,1949.0,NaN,1406121.0,2016.0,1406121.0,15623.06,6.037620e+13,-0.033997,2017-01-13
18454,11499166,2.0,3.0,1425.0,1425.0,6037.0,2.0,33887895.0,-118388671.0,8004.0,...,1.0,1954.0,NaN,1014228.0,2016.0,1014228.0,11305.82,6.037620e+13,0.010002,2017-01-31
18700,11508591,3.0,3.0,2234.0,2234.0,6037.0,3.0,33877631.0,-118407178.0,3330.0,...,1.0,1931.0,NaN,9837579.0,2016.0,9837579.0,107847.59,6.037621e+13,-0.392169,2017-03-24
19419,11540252,2.0,2.0,1380.0,1380.0,6037.0,2.0,33989000.0,-118439000.0,NaN,...,1.0,2010.0,NaN,673759.0,2016.0,673759.0,8143.47,6.037275e+13,0.043332,2017-05-30
19593,11548806,1.0,3.0,1152.0,1152.0,6037.0,1.0,33995053.0,-118452286.0,8533.0,...,1.0,1923.0,NaN,1639000.0,2016.0,1639000.0,24307.47,6.037274e+13,-0.140246,2017-07-21
19663,11551880,1.0,2.0,1129.0,1129.0,6037.0,1.0,34005055.0,-118438348.0,5874.0,...,1.0,1937.0,NaN,859493.0,2016.0,859493.0,10227.94,6.037272e+13,-0.121400,2017-01-05
19692,11553054,1.0,3.0,1161.0,1161.0,6037.0,1.0,34012006.0,-118443336.0,5699.0,...,1.0,1947.0,NaN,1068043.0,2016.0,1068043.0,12848.53,6.037271e+13,-0.022262,2017-04-07
19859,11562017,1.0,2.0,1008.0,1008.0,6037.0,1.0,34035135.0,-118458888.0,5503.0,...,1.0,1927.0,NaN,751797.0,2016.0,751797.0,9080.83,6.037268e+13,0.067043,2017-01-19
20588,11595851,5.0,3.0,4225.0,4225.0,6037.0,5.0,33967264.0,-118452914.0,3149.0,...,1.0,2002.0,NaN,1180000.0,2016.0,1180000.0,14303.11,6.037274e+13,-0.071379,2017-09-07
20880,11608383,3.0,3.0,2644.0,2644.0,6037.0,3.0,34034846.0,-118402131.0,9440.0,...,1.0,1956.0,NaN,1722500.0,2016.0,1722500.0,20735.92,6.037269e+13,-0.112042,2017-03-10
20889,11608545,2.0,3.0,2704.0,2704.0,6037.0,2.0,34032537.0,-118402416.0,8852.0,...,1.0,1952.0,NaN,1786296.0,2016.0,1786296.0,36274.09,6.037269e+13,0.028375,2017-05-09
20904,11609158,1.0,3.0,1324.0,1324.0,6037.0,1.0,34051575.0,-118424917.0,6075.0,...,1.0,1925.0,NaN,1421350.0,2016.0,1421350.0,17079.45,6.037267e+13,-0.114753,2017-06-15
21864,11645311,8.0,7.0,9368.0,9368.0,6037.0,8.0,34084622.0,-118438801.0,82037.0,...,1.0,1928.0,NaN,15533020.0,2016.0,15533020.0,214289.27,6.037262e+13,-1.237998,2017-08-15
21894,11646891,2.0,4.0,1904.0,1904.0,6037.0,2.0,34067699.0,-118464515.0,8190.0,...,1.0,1951.0,NaN,1656855.0,2016.0,1656855.0,19849.65,6.037265e+13,-0.016227,2017-05-01
21904,11647249,3.0,4.0,2924.0,2924.0,6037.0,3.0,34070466.0,-118462732.0,NaN,...,1.0,1954.0,NaN,461231.0,2016.0,461231.0,NaN,6.037265e+13,0.038192,2017-02-24
21955,11649043,4.0,3.0,2004.0,2004.0,6037.0,4.0,34096662.0,-118445766.0,67282.0,...,1.0,1948.0,NaN,3328754.0,2016.0,3328754.0,40028.13,6.037262e+13,-0.286144,2017-09-13
22106,11656270,5.0,4.0,4099.0,4099.0,6037.0,5.0,34099817.0,-118396533.0,23220.0,...,1.0,1958.0,NaN,5384780.0,2016.0,5384780.0,62476.05,6.037701e+13,-0.081802,2017-04-26
22189,11658817,2.0,3.0,1903.0,1903.0,6037.0,2.0,34063965.0,-118476949.0,7000.0,...,1.0,1940.0,NaN,2400051.0,2016.0,2400051.0,28799.97,6.037262e+13,0.027637,2017-06-23
22248,11660929,2.0,3.0,2000.0,2000.0,6037.0,2.0,34052082.0,-118496364.0,8893.0,...,1.0,1954.0,NaN,2413416.0,2016.0,2413416.0,28947.16,6.037263e+13,0.050836,2017-04-27
22371,11666339,3.0,2.0,2149.0,2149.0,6037.0,3.0,34043810.0,-118559880.0,9573.0,...,1.0,1949.0,NaN,2200510.0,2016.0,2200510.0,26331.25,6.037263e+13,-0.058672,2017-09-12
22455,11668838,2.0,4.0,1854.0,1854.0,6037.0,2.0,34049882.0,-118516927.0,7372.0,...,1.0,1956.0,NaN,2690412.0,2016.0,2690412.0,32186.65,6.037263e+13,-0.167851,2017-05-04
22476,11669546,2.0,3.0,1794.0,1794.0,6037.0,2.0,34043290.0,-118516935.0,6498.0,...,1.0,1940.0,NaN,1928975.0,2016.0,1928975.0,23068.01,6.037263e+13,0.019294,2017-03-09
22791,11687280,3.0,3.0,2782.0,2782.0,6037.0,3.0,34021359.0,-118799241.0,27335.0,...,1.0,1977.0,NaN,856908.0,2016.0,856908.0,10253.35,6.037800e+13,0.125372,2017-09-13
24058,11755938,2.0,2.0,1836.0,1836.0,6037.0,2.0,34057844.0,-118349923.0,7700.0,...,1.0,1958.0,NaN,1218300.0,2016.0,1218300.0,20245.22,6.037216e+13,0.605453,2017-06-16
26387,11905745,0.0,0.0,NaN,NaN,6037.0,NaN,34064953.0,-118144719.0,11044.0,...,1.0,NaN,NaN,393502.0,2016.0,393502.0,4767.60,6.037482e+13,0.011459,2017-07-14
26484,11912966,1.0,2.0,1360.0,1360.0,6037.0,1.0,34105884.0,-118106094.0,7492.0,...,1.0,1941.0,NaN,665496.0,2016.0,665496.0,8901.14,6.037480e+13,-0.004794,2017-05-10
26641,11922646,1.0,2.0,810.0,810.0,6037.0,1.0,34127247.0,-118075340.0,5379.0,...,1.0,1932.0,NaN,332874.0,2016.0,332874.0,4067.16,6.037480e+13,0.088331,2017-03-29
26773,11928445,1.0,3.0,1460.0,1460.0,6037.0,1.0,34112611.0,-118078232.0,9099.0,...,1.0,1955.0,NaN,789864.0,2016.0,789864.0,9132.30,6.037480e+13,0.082496,2017-08-30
26782,11928803,1.0,2.0,850.0,850.0,6037.0,1.0,34107669.0,-118078514.0,11505.0,...,1.0,1938.0,NaN,714736.0,2016.0,714736.0,8343.01,6.037480e+13,0.059498,2017-08-08
26802,11930466,1.0,2.0,966.0,966.0,6037.0,1.0,34092690.0,-118071854.0,12118.0,...,1.0,1946.0,NaN,507634.0,2016.0,507634.0,5999.66,6.037481e+13,0.003786,2017-04-21
28082,11997336,2.0,3.0,1674.0,1674.0,6037.0,2.0,34084787.0,-118354093.0,6499.0,...,1.0,1923.0,NaN,1218300.0,2016.0,1218300.0,26657.13,6.037192e+13,0.082162,2017-01-11
28084,11997382,1.0,2.0,1032.0,1032.0,6037.0,1.0,34082225.0,-118355128.0,6506.0,...,1.0,1924.0,NaN,1218300.0,2016.0,1218300.0,14703.55,6.037192e+13,0.062306,2017-01-10
28090,11997517,2.0,2.0,1272.0,1272.0,6037.0,2.0,34082791.0,-118349823.0,7404.0,...,1.0,1924.0,NaN,1300000.0,2016.0,1300000.0,15690.27,6.037192e+13,-0.088234,2017-07-06
28108,11998257,1.0,4.0,1400.0,1400.0,6037.0,1.0,34084396.0,-118356768.0,6500.0,...,1.0,1923.0,NaN,1294443.0,2016.0,1294443.0,15553.92,6.037192e+13,0.047732,2017-01-10
28445,12014748,4.0,3.0,1859.0,1859.0,6037.0,4.0,34124492.0,-118343489.0,NaN,...,1.0,2015.0,NaN,167962.0,2016.0,167962.0,2116.91,NaN,-0.054839,2017-06-27
28469,12015416,1.0,3.0,1665.0,1665.0,6037.0,1.0,34095506.0,-118348961.0,6898.0,...,1.0,1920.0,NaN,1300000.0,2016.0,1300000.0,15570.83,6.037190e+13,-1.121774,2017-06-05
29486,12055162,0.0,0.0,NaN,NaN,6037.0,NaN,34159071.0,-118302659.0,26369.0,...,1.0,1946.0,NaN,406100.0,2016.0,406100.0,4526.60,6.037302e+13,-0.174761,2017-06-12
41762,12673310,1.0,3.0,1145.0,1145.0,6037.0,1.0,33845158.0,-118375771.0,6557.0,...,1.0,1947.0,NaN,862962.0,2016.0,862962.0,10352.24,6.037621e+13,-0.255949,2017-01-13
41857,12678523,1.0,1.0,840.0,840.0,6037.0,1.0,33834000.0,-118356000.0,84179.0,...,1.0,2005.0,NaN,49321.0,2016.0,49321.0,623.54,6.037651e+13,0.047971,2017-04-28
43782,12765880,2.0,3.0,1402.0,1402.0,6037.0,2.0,34057736.0,-118027379.0,16612.0,...,1.0,1937.0,NaN,364081.0,2016.0,364081.0,5625.75,6.037433e+13,0.054030,2017-01-25
48204,12987577,1.0,3.0,1389.0,1389.0,6037.0,1.0,34078409.0,-117969981.0,6931.0,...,1.0,1898.0,NaN,268000.0,2016.0,268000.0,3483.56,6.037405e+13,-0.292550,2017-09-07
48388,12999545,2.0,4.0,1521.0,1521.0,6037.0,2.0,34099535.0,-118029156.0,15983.0,...,1.0,1945.0,NaN,500769.0,2016.0,500769.0,7048.72,6.037432e+13,-0.054418,2017-09-01
48537,13009599,2.0,3.0,1808.0,1808.0,6037.0,2.0,34094512.0,-118064196.0,9769.0,...,1.0,1946.0,NaN,704163.0,2016.0,704163.0,12554.06,6.037432e+13,-0.089210,2017-02-23
48889,13027303,4.0,4.0,3771.0,3771.0,6037.0,4.0,34137792.0,-117894004.0,NaN,...,1.0,2015.0,NaN,126307.0,2016.0,126307.0,10060.96,NaN,-0.010244,2017-01-19
48890,13027305,4.0,4.0,3788.0,3788.0,6037.0,4.0,34137792.0,-117894004.0,NaN,...,1.0,2015.0,NaN,126307.0,2016.0,126307.0,10103.05,NaN,-0.053626,2017-03-02
48891,13027306,4.0,4.0,4375.0,4375.0,6037.0,4.0,34137792.0,-117894004.0,NaN,...,1.0,2015.0,NaN,126307.0,2016.0,126307.0,10567.95,NaN,0.106515,2017-04-14
48892,13027307,4.0,4.0,3771.0,3771.0,6037.0,4.0,34137792.0,-117894004.0,NaN,...,1.0,2015.0,NaN,126307.0,2016.0,126307.0,10101.33,NaN,0.053119,2017-01-13
48893,13027308,4.0,4.0,4351.0,4351.0,6037.0,4.0,34137792.0,-117894004.0,NaN,...,1.0,2015.0,NaN,126307.0,2016.0,126307.0,10567.05,NaN,0.343828,2017-06-13
48894,13027309,4.0,4.0,4047.0,4047.0,6037.0,4.0,34137792.0,-117894004.0,NaN,...,1.0,2015.0,NaN,126307.0,2016.0,126307.0,10433.55,NaN,-0.062332,2017-06-21
48896,13027351,4.0,4.0,4047.0,4047.0,6037.0,4.0,34142092.0,-117892104.0,NaN,...,1.0,2015.0,NaN,126313.0,2016.0,126313.0,10233.26,NaN,-0.121203,2017-06-09
48897,13027352,4.0,4.0,4351.0,4351.0,6037.0,4.0,34142092.0,-117892104.0,NaN,...,1.0,2015.0,NaN,126313.0,2016.0,126313.0,10525.89,NaN,-0.127092,2017-06-27
48899,13027354,4.0,4.0,4039.0,4039.0,6037.0,4.0,34142092.0,-117892104.0,NaN,...,1.0,2015.0,NaN,126313.0,2016.0,126313.0,10232.24,NaN,-0.204022,2017-06-27
51111,13864002,1.0,3.0,870.0,870.0,6059.0,1.0,33662585.0,-117993792.0,6989.0,...,1.0,1920.0,NaN,1001346.0,2016.0,1001346.0,11242.06,6.059099e+13,-0.106118,2017-08-25
51580,13888795,1.0,3.0,1035.0,1035.0,6059.0,1.0,33604609.0,-117904253.0,2237.0,...,1.0,1923.0,NaN,1276293.0,2016.0,1276293.0,13742.70,6.059063e+13,-0.037416,2017-04-25
51597,13889477,1.0,3.0,1199.0,1199.0,6059.0,1.0,33598396.0,-117889708.0,3049.0,...,1.0,1947.0,NaN,1520399.0,2016.0,1520399.0,17430.14,6.059063e+13,0.007446,2017-05-23
51750,13894447,4.0,4.0,3646.0,NaN,6059.0,4.0,33555226.0,-117808388.0,14775.0,...,1.0,1958.0,NaN,5043042.0,2016.0,5043042.0,51318.56,6.059063e+13,0.327967,2017-07-14
55529,14097534,1.0,2.0,1091.0,1091.0,6059.0,1.0,33800997.0,-118067496.0,9344.0,...,1.0,1926.0,NaN,813030.0,2016.0,813030.0,8984.76,6.059110e+13,0.191696,2017-07-10
55873,14115635,1.0,1.0,528.0,528.0,6059.0,1.0,33829939.0,-117909066.0,4736.0,...,1.0,1923.0,NaN,302462.0,2016.0,302462.0,3730.38,6.059087e+13,0.006179,2017-04-07
59457,14282410,1.0,3.0,1471.0,1471.0,6059.0,1.0,33643784.0,-117913268.0,10960.0,...,1.0,1952.0,NaN,828444.0,2016.0,828444.0,9348.82,6.059063e+13,0.039908,2017-04-21
71122,14755638,2.5,3.0,1508.0,1508.0,6059.0,2.0,33909388.0,-117847363.0,NaN,...,1.0,2013.0,NaN,497789.0,2016.0,497789.0,6228.70,NaN,0.003558,2017-08-08
71459,17066361,1.0,1.0,522.0,522.0,6111.0,1.0,34399976.0,-118905113.0,4000.0,...,1.0,1948.0,NaN,107000.0,2016.0,107000.0,1524.28,6.111000e+13,-0.169672,2017-05-15
74303,17190478,0.0,0.0,1440.0,NaN,6111.0,NaN,34202244.0,-118992047.0,4031.0,...,1.0,1972.0,NaN,99309.0,2016.0,99309.0,1038.80,6.111006e+13,0.060742,2017-08-15
74304,17190481,0.0,0.0,1440.0,NaN,6111.0,NaN,34202927.0,-118995093.0,3858.0,...,1.0,1974.0,NaN,210000.0,2016.0,210000.0,2283.38,6.111006e+13,0.033997,2017-05-24
74306,17190527,0.0,0.0,1440.0,NaN,6111.0,NaN,34201898.0,-118992547.0,8456.0,...,1.0,1974.0,NaN,109907.0,2016.0,109907.0,1225.82,6.111006e+13,0.909878,2017-06-02
74307,17190561,0.0,0.0,1536.0,NaN,6111.0,NaN,34199964.0,-118990740.0,3502.0,...,1.0,1973.0,NaN,43264.0,2016.0,43264.0,443.20,6.111006e+13,-0.017181,2017-07-03
74308,17190562,0.0,0.0,1440.0,NaN,6111.0,NaN,34199915.0,-118990872.0,3568.0,...,1.0,1974.0,NaN,180000.0,2016.0,180000.0,1970.70,6.111006e+13,-0.005354,2017-07-06
74310,17190576,0.0,0.0,1440.0,NaN,6111.0,NaN,34199015.0,-118990825.0,3874.0,...,1.0,1973.0,NaN,201200.0,2016.0,201200.0,2195.98,6.111006e+13,-0.162784,2017-08-31
74311,17190581,0.0,0.0,1536.0,NaN,6111.0,NaN,34200207.0,-118988144.0,4052.0,...,1.0,1973.0,NaN,96565.0,2016.0,96565.0,1009.64,6.111006e+13,-0.648092,2017-04-10
74317,17190635,0.0,0.0,1440.0,NaN,6111.0,NaN,34199706.0,-118989399.0,3550.0,...,1.0,1973.0,NaN,180000.0,2016.0,180000.0,1896.30,6.111006e+13,0.080876,2017-07-20
74319,17190654,0.0,0.0,1344.0,NaN,6111.0,NaN,34199532.0,-118989153.0,3468.0,...,1.0,1974.0,NaN,89611.0,2016.0,89611.0,935.74,6.111006e+13,0.252730,2017-09-08
77392,167636496,3.0,5.0,2157.0,2157.0,6037.0,3.0,34424104.0,-118468083.0,NaN,...,1.0,2015.0,NaN,55091.0,2016.0,55091.0,1399.21,NaN,0.003109,2017-02-28
77393,167636512,4.0,5.0,2608.0,2608.0,6037.0,4.0,34424104.0,-118468083.0,NaN,...,1.0,2016.0,NaN,50597.0,2016.0,50597.0,1376.11,NaN,0.034947,2017-02-15
77411,167688532,3.0,3.0,1661.0,1661.0,6037.0,3.0,34108983.0,-118262402.0,NaN,...,1.0,2016.0,NaN,147921.0,2016.0,147921.0,1902.75,NaN,0.006706,2017-02-03

### taxvaluedollarcnt = structuretaxvaluedollarcnt + landtaxvaluedollarcnt...  
- dropping values b/c
    - target feature if taxvaluedollarcnt and these values influence the target. 83 structure nulls
    - taxamount will be dropped as well. 5 taxamount nulls
    - so few values I am comfortable dropping

In [42]:
df = df[df.structuretaxvaluedollarcnt.notnull()]
df.shape

(71877, 26)

In [43]:
df = df[df.taxamount.notnull()]
df.shape

(71873, 26)

In [44]:
df.yearbuilt.describe()

count    71802.000000
mean      1969.341174
std         23.093796
min       1878.000000
25%       1954.000000
50%       1970.000000
75%       1987.000000
max       2016.000000
Name: yearbuilt, dtype: float64

In [45]:
# knn b/c close neighborhoods go up at similar dates
# will use yearbuilt, lat, long, fips
df.fips = df.fips.astype(int)
df.fips.dtype

dtype('int64')

In [48]:
df.isnull().sum()

parcelid                           0
bathroomcnt                        0
bedroomcnt                         0
calculatedfinishedsquarefeet      36
finishedsquarefeet12             243
fips                               0
fullbathcnt                      108
latitude                           0
longitude                          0
lotsizesquarefeet               8046
propertycountylandusecode          0
propertylandusetypeid              0
rawcensustractandblock             0
regionidcity                    1320
regionidcounty                     0
roomcnt                            0
unitcnt                            0
yearbuilt                         71
structuretaxvaluedollarcnt         0
taxvaluedollarcnt                  0
assessmentyear                     0
landtaxvaluedollarcnt              0
taxamount                          0
censustractandblock              194
logerror                           0
transactiondate                    0
dtype: int64

In [49]:
from sklearn.impute import KNNImputer

#Use numeric columns that you want to use for imputation
knn_cols_yr = df[['yearbuilt','latitude','longitude','fips']]

# define the thing
imputer = KNNImputer(n_neighbors=4)

# fit the thing (or fit and use with fit_transform) only on train!
imputed = imputer.fit_transform(knn_cols_yr)
imputed

array([[ 1.97200000e+03,  3.42225590e+07, -1.18617387e+08,
         6.03700000e+03],
       [ 1.97200000e+03,  3.42202610e+07, -1.18616409e+08,
         6.03700000e+03],
       [ 1.97200000e+03,  3.42224910e+07, -1.18616854e+08,
         6.03700000e+03],
       ...,
       [ 2.01000000e+03,  3.41050270e+07, -1.17805889e+08,
         6.03700000e+03],
       [ 1.97700000e+03,  3.39813000e+07, -1.17803849e+08,
         6.03700000e+03],
       [ 2.01400000e+03,  3.39150860e+07, -1.18372591e+08,
         6.03700000e+03]])

In [58]:
imputed = pd.DataFrame(imputed, index = df.index, dtype=int)
imputed.head()

      0         1          2     3
0  1972  34222559 -118617387  6037
1  1972  34220261 -118616409  6037
2  1972  34222491 -118616854  6037
3  1960  34221864 -118615739  6037
4  1960  34220619 -118615253  6037

In [60]:
df['yearbuilt'] = imputed[[0]]

In [61]:
df.isnull().sum()

parcelid                           0
bathroomcnt                        0
bedroomcnt                         0
calculatedfinishedsquarefeet      36
finishedsquarefeet12             243
fips                               0
fullbathcnt                      108
latitude                           0
longitude                          0
lotsizesquarefeet               8046
propertycountylandusecode          0
propertylandusetypeid              0
rawcensustractandblock             0
regionidcity                    1320
regionidcounty                     0
roomcnt                            0
unitcnt                            0
yearbuilt                          0
structuretaxvaluedollarcnt         0
taxvaluedollarcnt                  0
assessmentyear                     0
landtaxvaluedollarcnt              0
taxamount                          0
censustractandblock              194
logerror                           0
transactiondate                    0
dtype: int64

In [63]:
df.censustractandblock[1]

60371132321007.0