In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Data getting, cleaning, and exploring
import wrangle as w
import evaluate as ev
import explore as ex

# Python without these is hard
import pandas as pd
import numpy as np
from pydataset import data
from scipy import stats

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import sklearn.preprocessing
from sklearn.preprocessing import MinMaxScaler 
from sklearn.impute import SimpleImputer, KNNImputer
# Regression Modeling
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# df = w.get_zillow_data(cached=True)

In [3]:
df = w.wrangle_zillow(cached=True)

In [4]:
df.to_csv('wrangled_zillow.csv')

In [4]:
df.shape

(71807, 23)

In [5]:
# df.parcelid.nunique()

In [6]:
# df = df[df.latitude.notnull()]

In [7]:
# df = df[df.longitude.notnull()]

In [8]:
w.missing_zero_values_table(df)

Your selected dataframe has 23 columns and 71807 Rows.
There are 0 columns that have NULL values.

,Zero Values,NULL Values,% of Total NULL Values,Total Zero's plus NULL Values,% Total Zero's plus NULL Values,Data Type
heating_system_type_id,0,0,0.0,0,0.0,int64
fireplace_flag,63397,0,0.0,63397,88.3,int64
ventura_cnty,65701,0,0.0,65701,91.5,uint8
orange_cnty,51559,0,0.0,51559,71.8,uint8
la_cnty,26354,0,0.0,26354,36.7,uint8
heating_system_desc,0,0,0.0,0,0.0,object
log_error,0,0,0.0,0,0.0,float64
tax_amount,0,0,0.0,0,0.0,float64
land_tax_value,0,0,0.0,0,0.0,float64
tax_value,0,0,0.0,0,0.0,float64
struct_tax_value,0,0,0.0,0,0.0,float64
year_built,0,0,0.0,0,0.0,float64
bathrooms,0,0,0.0,0,0.0,float64
region_id_city,0,0,0.0,0,0.0,int64
pool_cnt,56104,0,0.0,56104,78.1,float64
lot_sqft,0,0,0.0,0,0.0,int64
longitude,0,0,0.0,0,0.0,float64
latitude,0,0,0.0,0,0.0,float64
fireplace_cnt,63397,0,0.0,63397,88.3,float64
fips,0,0,0.0,0,0.0,int64
prop_sqft,0,0,0.0,0,0.0,float64
bedrooms,0,0,0.0,0,0.0,float64
log_error_class,0,0,0.0,0,0.0,category

In [10]:
# df['heatingorsystemtypeid'].value_counts()

In [11]:
# df['heatingorsystemtypeid'].fillna(df.heatingorsystemtypeid.mode(), inplace=True)
# df['heatingorsystemdesc'].fillna('Central', inplace=True)

In [12]:
# df['bedroomcnt'].replace(to_replace=0, value=df.bedroomcnt.median(), inplace=True)
# df['bathroomcnt'].replace(to_replace=0, value=df.bathroomcnt.median(), inplace=True)

In [13]:
# missing_cols_df = pd.Series(data=df.isnull().sum(axis = 1).value_counts().sort_index(ascending=False))

In [14]:
# missing_cols_df = pd.DataFrame(missing_cols_df)

In [15]:
# missing_cols_df = missing_cols_df.reset_index()

In [16]:
# missing_cols_df.columns = ['total_missing_cols','num_rows']

In [17]:
# missing_cols_df['percent_cols_missing'] = round(100 * missing_cols_df.total_missing_cols / df.shape[1], 2)

In [18]:
# missing_cols_df.head()

In [19]:
# ex.missing_columns(df)

In [20]:
df.columns = ['heatingorsystemtypeid',
 'parcelid',
 'bathroomcnt',
 'bedroomcnt',
 'calculatedfinishedsquarefeet',
 'fips',
 'fireplacecnt',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'regionidcity',
 'yearbuilt',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'landtaxvaluedollarcnt',
 'taxamount',
 'logerror',
 'heatingorsystemdesc',
 'la_cnty',
 'orange_cnty',
 'ventura_cnty',
 'log_error_class']

ValueError: Length mismatch: Expected axis has 23 elements, new values have 24 elements

In [ ]:
# dropcols = ['id', 'buildingqualitytypeid', 'finishedsquarefeet12', 'calculatedbathnbr', 'fullbathcnt', 
#             'propertycountylandusecode', 'propertylandusetypeid', 'propertyzoningdesc', 'rawcensustractandblock',
#        'regionidcounty', 'regionidzip', 'roomcnt', 'unitcnt',
#        'assessmentyear', 'logerror', 'transactiondate']

In [ ]:
# df = df.drop(columns=dropcols)
#

In [ ]:
# df.columns = ['heating_system_type_id', 'bathrooms', 'bedrooms', 'prop_sqft', 'fips', 'fireplace_cnt', 'latitude', 'longitude', 'lot_sqft', 'pool_cnt',
#        'region_id_city', 'year_built', 'fireplace_flag',
#        'struct_tax_value', 'tax_value',
#        'land_tax_value', 'tax_amount',
#        'heating_system_desc', 'la_cnty', 'orange_cnty', 'ventura_cnty',
#        'log_error_class']

In [ ]:
# df.groupby('fips')['regionidcity'].unique()

In [ ]:
# df.heatingorsystemtypeid.value_counts().sort_index()

### propertylandusetypeid code meanings:
- <span style="color:red">red</span>: means that there are properties of this type in dataframe and are not "single unit properties"
- <span style="color:green">green</span>: are properties that are accepted as "single unit properties"
- ~~strikeout~~: are property types that are not included in the dataframe

    - <span style="color:green">31 - Commercial/Office/**Residential Mixed Used**</span>
    - ~~46	Multi-Story Store~~
    - ~~47	Store/Office (Mixed Use)~~
    - <span style="color:red">246 - Duplex (2 Units, Any Combination)</span>
    - <span style="color:red">247 - Triplex (3 Units, Any Combination)</span>
    - <span style="color:red">248 - Quadruplex (4 Units, Any Combination)</span>
    - <span style="color:green">260 - Residential General</span>
    - <span style="color:green">261 - Single Family Residential</span>
    - ~~<span style="color:green">262 - Rural Residence</span>~~
    - <span style="color:green">263 - Mobile Home</span>
    - <span style="color:green">264 - Townhouse</span>
    - <span style="color:green">265 - Cluster Home</span>
    - <span style="color:green">266 - Condominium</span>
    - <span style="color:green">267 - Cooperative</span>
    - ~~<span style="color:green">268 - Row House</span>~~
    - <span style="color:red">269 - Planned Unit Development</span>
    - ~~270	Residential Common Area~~
    - ~~271	Timeshare~~
    - ~~<span style="color:green">273 - Bungalow</span>~~
    - ~~274	Zero Lot Line~~
    - <span style="color:green">275 - Manufactured, Modular, Prefabricated Homes</span>
    - ~~<span style="color:green">276 - Patio Home</span>~~
    - ~~<span style="color:green">279 - Inferred Single Family Residential</span>~~
    - ~~290	Vacant Land - General~~
    - ~~291	Residential Vacant Land~~

In [ ]:
# df.propertylandusetypeid = df.propertylandusetypeid.astype(int)

In [ ]:
# x = 'propertylandusetypeid'

In [ ]:
# df = df[df[x] != 246]
# df = df[df[x] != 247]
# df = df[df[x] != 248]
# df = df[df[x] != 269]

In [ ]:
# df.propertylandusetypeid.value_counts().sort_index()

In [ ]:
# list(df.columns)

In [ ]:
# df = w.handle_missing_values(df, 0.6, 0.75)
# df.shape

In [ ]:
# w.missing_zero_values_table(df)

In [ ]:
# df.buildingqualitytypeid.value_counts().sort_index() # - kNN

In [ ]:
# df.unitcnt.value_counts() # - mode

In [ ]:
# df.propertyzoningdesc.value_counts() # - knn

In [ ]:
# df.heatingorsystemtypeid.value_counts() # - mode

In [ ]:
# df.heatingorsystemdesc.value_counts() # - mode

In [ ]:
# df.unitcnt.fillna(1, inplace=True)

In [ ]:
# def impute_mode(df, cols):
#     for col in cols:
#         df = df.fillna(df[col].value_counts().index[0])
#         return df

In [ ]:
# dropcols = ['id','heatingorsystemtypeid','buildingqualitytypeid','propertyzoningdesc','heatingorsystemdesc','calculatedbathnbr','regionidzip','regionidcity']

In [ ]:
# df = df.drop(columns=dropcols)

In [ ]:
# df[df.taxamount.isnull()]

In [ ]:
# df[df.taxvaluedollarcnt.isnull()]

In [ ]:
# df = df[df.taxvaluedollarcnt.notnull()]

In [ ]:
# df.isnull().sum().sort_values(ascending=False)

In [ ]:
# df.structuretaxvaluedollarcnt.mean()

In [ ]:
# df.landtaxvaluedollarcnt.mean()

In [ ]:
# df.taxvaluedollarcnt.mean()

In [ ]:
# df.structuretaxvaluedollarcnt.mean() / df.landtaxvaluedollarcnt.mean()

In [ ]:
# df[df.structuretaxvaluedollarcnt.isnull()]

### taxvaluedollarcnt = structuretaxvaluedollarcnt + landtaxvaluedollarcnt...  
- dropping values b/c
    - target feature if taxvaluedollarcnt and these values influence the target. 83 structure nulls
    - taxamount will be dropped as well. 5 taxamount nulls
    - so few values I am comfortable dropping

In [ ]:
# df = df[df.structuretaxvaluedollarcnt.notnull()]
# df.shape

In [ ]:
# df = df[df.taxamount.notnull()]
# df.shape

In [ ]:
# df.yearbuilt.describe()

In [ ]:
# knn b/c close neighborhoods go up at similar dates
# will use yearbuilt, lat, long, fips
# df.fips = df.fips.astype(int)
# df.fips.dtype

In [ ]:
# df.isnull().sum()

In [ ]:
# from sklearn.impute import KNNImputer

# #Use numeric columns that you want to use for imputation
# knn_cols_df = df[['yearbuilt','latitude','longitude','fips']]
# features = ['yearbuilt','latitude','longitude','fips']
# # define the thing
# imputer = KNNImputer(n_neighbors=4)

# # fit the thing (or fit and use with fit_transform) only on train!
# imputed = imputer.fit_transform(knn_cols_df)
# imputed

In [ ]:
# imputed = pd.DataFrame(imputed, index = df.index, dtype=int)
# imputed.head()

In [ ]:
# df['yearbuilt'] = imputed[[0]]

In [ ]:
# df = w.impute_knn(df, features, 4)

In [ ]:
# df.isnull().sum()

In [ ]:
# df.lotsizesquarefeet.describe()

In [ ]:
# #Use numeric columns that you want to use for imputation
# knn_cols_df = df[['lotsizesquarefeet','latitude','longitude','fips','calculatedfinishedsquarefeet']]
# features = ['lotsizesquarefeet','latitude','longitude','fips','calculatedfinishedsquarefeet']
# # define the thing
# imputer = KNNImputer(n_neighbors=4)

# # fit the thing (or fit and use with fit_transform) only on train!
# imputed = imputer.fit_transform(knn_cols_df)
# imputed

In [ ]:
# imputed = pd.DataFrame(imputed, index = df.index, dtype=int)
# imputed.head()

In [ ]:
# df['lotsizesquarefeet'] = imputed[[0]]

In [ ]:
# df = w.impute_knn(df, features, 4)

In [ ]:
# df = df[df.calculatedfinishedsquarefeet.notnull()]

In [ ]:
# df.isnull().sum()

In [ ]:
# dropcols = ['finishedsquarefeet12','fullbathcnt','censustractandblock','roomcnt']

In [ ]:
# df = df.drop(columns=dropcols)

In [ ]:
# df = df[df.bedroomcnt != 0]
# df = df[df.bathroomcnt != 0]

In [ ]:
# ex.missing_zero_values_table(df)

In [ ]:
# df = pd.get_dummies(df, columns=['fips'], drop_first=True)

In [ ]:
# df['log_error_class'] = pd.qcut(df.log_error, q=4, labels=['s1', 's2', 's3', 's4'])

In [ ]:
list(df.columns)

In [ ]:
# df.columns = ['parcelid', 'bathrooms', 'bedrooms', 'property_sqft', 'fips', 'latitude', 'longitude', 'lot_sqft', 'prop_cnty_land_code', 'prop_land_type_id', 'census_tract_and_block', 'region_id_county', 'unitcnt', 'year_built', 'struct_tax_value', 'tax_value', 'assessment_year', 'land_tax_value', 'tax_amount', 'log_error', 'transaction_date']

In [ ]:
# cat_vars = ['fips',
#  'prop_cnty_land_code',
#  'prop_land_type_id',
#  'region_id_county']
# quant_vars = ['bathrooms',
#  'bedrooms',
#  'property_sqft',
#  'latitude',
#  'longitude',
#  'lot_sqft',
#  'census_tract_and_block',
#  'unitcnt',
#  'year_built',
#  'struct_tax_value',
#  'tax_value',
#  'assessment_year',
#  'land_tax_value',
#  'tax_amount',
#  'log_error',
#  'transaction_date']

In [ ]:
# ex.explore_univariate(df, cat_vars, quant_vars)

# Mall Customers database

In [ ]:
# df = w.get_mall_data(cached=True)

In [ ]:
# df.describe().T

In [ ]:
# df.isnull().sum()

In [ ]:
# df.info()

In [ ]:
# outlier_df = ex.add_upper_outlier_columns(df, 1.5)

In [ ]:
# outlier_df.head()

In [ ]:
# outlier_df.drop(columns=['customer_id_outliers'])

In [ ]:
# df[df.annual_income > 100]

In [ ]:
# df = w.remove_outliers(df, 'annual_income', 1.5)

In [ ]:
# df = pd.get_dummies(df, columns=['gender'], drop_first=True)

In [ ]:
# df.head()

In [ ]:
# train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test = w.train_validate_test_split(df, 'annual_income', 42)

In [ ]:
# object_cols = w.get_object_cols(X_train)
# numeric_cols = w.get_numeric_X_cols(X_train, object_cols)

In [ ]:
# X_train_scaled, X_validate_scaled, X_test_scaled = w.min_max_scale(X_train, X_validate, X_test, numeric_cols)

In [ ]:
# train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test, X_train_scaled, X_validate_scaled, X_test_scaled = w.wrangle_mall()